<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<h1>Hola mundo</h1>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>NOMBRE</th>
				<th>APELLIDO</th>
				<th>CEDULA</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="propietario:${propietarios} ">
				<td th:text="${propietario.id}"></td>
				<td th:text="${propietario.nombre}"></td>
				<td th:text="${propietario.apellido}"></td>
				<td th:text="${propietario.cedula}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>